body {
  font-family: "PT Serif", serif;
  margin: 56px 335px 30px;
}
/* Stay Focused On start from here */
section.stayFocusedOn {
  display: flex;
  margin-bottom: 50px;
}
.stayFocusedOn img {
  width: 25%;
  float: left;
  padding: auto;
  margin: -32px 59px 5px 250px;
}
.topText {
}
.sideBorder {
  border-left: 5px solid;
  padding: 3px;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}
.orangeColor {
  color: orange;
}
/* Stay Focused On end here */
/* General Part start from here */
.anchor-button {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

div {
  display: block;
}
.devlopeWithout {
  float: left;
  margin: 7px 8px 8px -1362px;
}
.devlopeWithout img {
  width: 14%;
}
/* General Part end here */
/* 2nd Part start from here */
section.myMissionIn2022 {
  display: flex;
}
.myMissionIn2022 img {
  width: 20%;
  margin: 31px 47px 26px 1px;
}
.textMyMission {
  margin-left: 6rem;
  text-align: center;
}
.missionVisionGoal {
  width: 100%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.globalCommunity {
  margin: 31px 47px 26px 1px;
}
#firstColumn {
  background-color: greay;
}
#secondColumn {
  background-color: greay;
}
#thirdColumn {
  background-color: greay;
}
/* 2nd Part end here */
/* GoOmicron start from here */
section.goOmicron {
  display: flex;
}
.staySafeWith {
  float: left;
  margin: -416px -119px 12px 334px;
}
section.goOmicron img {
  width: 30%;
  float: left;
}

element.style {
  float: left;
  margin: 187px 26px 213px 5px;
}
/* GoOmicron end here */
/* Footer start from here */
footer {
  text-align: center;
  background-color: black;
  color: white;
}
footer #mission2022 {
  color: orange;
}
/* Footer end here */
