body {
  font-family: "PT Serif", serif;
  margin: 150px 150px 150px 150px;
}
/* Stay Focused On start from here */
.stayFocusedOn {
  display: flex;
}
.stayFocusedOn > div {
  font-size: 15px;
  text-align: left;
  margin-bottom: 50px;
  height: 400px;
  width: 400px;
}
.stayFocusedOn img {
  display: block;
  margin-top: 50px;
  padding-left: 500px;
}
.stayFocusedOn h1 {
  text-align: left;
  padding-left: 5px;
}
/* Stay Focused On end here */
/* My Mission In 2022 start from here */
.myMissionIn2022 {
  display: flex;
  margin-bottom: 50px;
  paddi
}
.myMissionIn2022 > div {
  font-size: 15px;
  margin-bottom: 50px;
  padding: 20px;
  height: 400px;
  width: 400px;
}
h1 {
  text-align: center;
}

.myMissionIn2022 img {
  width: 20%;
  align-items: center;
}
#firstColumn {
  background-color: rgb(238, 221, 221);
  padding-left: 20px;
}
#secondColumn {
  background-color: rgb(237, 238, 197);
  padding-left: 20px;
}
#thirdColumn {
  background-color: rgb(241, 175, 236);
  padding-left: 20px;
}
/* My Mission In 2022 end here  */
/* Devlop Without Limit start from here */
.devlopWithoutLimit {
  display: flex;
  margin-bottom: 50px;
}
.devlopWithoutLimit > div {
  font-size: 15px;
  margin-bottom: 50px;
  padding: 20px;
  text-align: left;
}
.devlopWithoutLimit img{
  float: left;
  width: 20px;
}
/* Devlop Without Limit end here */
.globalCommunity {
  display: flex;
  margin-bottom: 50px;
}
.globalCommunity > div {
  font-size: 15px;
  margin-bottom: 50px;
  padding: 20px;
}
.globalCommunity img {
  width: 20%;
  align-items: center;
  float: right;
}

/* General Part start from here */
.anchor-button {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.sideBorder {
  border-left: 3px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}

.orangeColor {
  color: orange;
}
/* General Part end here */
/* 2nd Part start from here */
/* GoOmicron start from here */
.goOmicron {
  display: flex;
  margin-bottom: 50px;
}
.goOmicron > div {
  font-size: 15px;
  margin-bottom: 50px;
  padding: 20px;
  text-align: right;
}
.goOmicron img {
  width: 20%;
  float: left;
}
/* GoOmicron end here */
/* Footer start from here */
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
}
footer #mission2022 {
  color: orange;
  margin-top: 5px;
}
/* Footer end here */
